@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&display=swap');


/* Quick links - delete before submission */
/* 
font-family: 'Playfair Display', serif;
font-family: 'Abril Fatface', cursive;

@media screen and (max-width: 600px) {
}
 */

body {
    font-family: 'Playfair Display', serif;
    background-color: #ffe9e9;
}

/* font colors  */

.text-d-pink {
    color: #8d3e5d
}

.text-d-blue {
    color: #6085A9;
}

/* buttons  */

.btn-primary {
    color: #E0E0E6;
    background-color: #8d3e5d;
    border: 1px solid #8d3e5d;
}

.btn-primary:hover {
    color: #8d3e5d;
    border: 1px solid #8d3e5d;
    background-color: transparent;
}

.btn-secondary {
    border-color: #8d3e5d;
    color: #8d3e5d;
    background-color: transparent;
}

.btn-secondary:hover {
    color: #E0E0E6;
    background-color: #8d3e5d;
    border-color: #8d3e5d;
}

/* hr  */

hr {
    color: #6085A9;
    border: 0;
    margin: 16px 0px;
    z-index: 1;
}

/* links */

.unstyled-link {
    text-decoration: none;
    color: inherit;
}

.back-link {
    color: #93A5B4;
}

.back-link:hover {
    color: #6085A9;
}

/* forms  */

label,
.checkboxinput {
    margin: 10px 0px;
}

/* headings */

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 36px;
}

.subheading {
    font-size: 24px;
}

/* Nav bar  */

.nav-bar {
    background: url('/media/navbar_img.jpg') no-repeat left center;
    background-size: cover;
    height: 140px;
    width: 100%;
    padding: 15px;
}

.nav-top-row {
    height: 60px;
}

.logo a {
    text-decoration: none;
    white-space: nowrap;
}

.logo h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
}

.search-bar {
    max-width: 300px;
    margin-top: 30px;
}

.nav-item {
    padding: 6px;
    font-size: 16px;
}

.nav-item a:hover {
    color: #6085A9;
}

.nav-item a,
.nav-item a button {
    text-decoration: none;
    color: #8d3e5d;
    font-weight: 600;
}

.nav-item .fa-sort-down {
    vertical-align: middle;
    margin-bottom: 10px;
}

.navbar-light {
    color: black;
}

.dropdown-menu {
    background-color: rgb(238, 213, 219);
    border: none;
}

.navbar-collapse {
    background-color: rgb(238, 213, 219);
    margin-top: 12px;
    margin-right: -16px;
    margin-left: -16px;
    z-index: 2;
}

@media screen and (min-width: 992px) {
    .nav-bar {
        height: 280px;
    }

    .nav-top-row {
        height: 200px;
    }

    .logo h1 {
        font-size: 60px;
    }

    .nav-top-row {
        height: 180px;
    }

    .nav-item {
        padding: 12px 16px;
        font-size: 24px;
    }

    .navbar-collapse {
        background-color: transparent;
        padding-bottom: 5px;
        margin: 0px;
    }
}

/* Footer  */

.footer {
    background-color: #EED5DB;
    margin-top: auto;
}

.footer-menu {
    font-size: 20px;
}

.socials ul {
    display: flex;
    justify-content: space-around;
    font-size: 32px;
}

footer h5 {
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
}

.address-icon {
    vertical-align: top;
}

/* Band and Blog cards */

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.card-title {
    font-size: 22px;
    font-weight: 600;
    overflow: hidden;
}

.lg-font {
    font-size: 20px;
}

.fa-star {
    color: #FFD700;
}

.blog-card {
    transition: all 0.2s ease;
    cursor: pointer;
    max-width: 300px;
}

.blog-card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.05);
    color: black;
}

.blog-title {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: -15px;
}

.blog-title p {
    font-size: 24px;
}

.blog-date p {
    font-weight: 800;
    font-size: 20px;
    background-color: #8d3e5d;
    margin-top: -30px;
    padding: 15px;
    width: 33%;
    color: #fff;
}

@media screen and (max-width: 991px) {
    .card-body {
        height: 200px;
    }

    .card-img-top {
        height: 160px;
    }

    .card-title {
        font-size: 16px;
    }

    .card-text {
        font-size: 14px;
    }

    .card-body .btn-primary {
        font-size: 14px;
        padding: 5px 7px;
    }
}

@media screen and (max-width: 480px) {
    .card {
        max-width: 280px;
        margin: 0 auto;
    }

    .card-body {
        height: 140px;
        padding: 8px;
    }

    .blog-img-top {
        min-height: 160px;
    }
}

/* Booking Form */

.booking-form-field {
    margin: 8px 0px;
    max-width: 400px;
}

#ui-datepicker-div {
    background-color: #EED5DB;
    padding: 10px;
    display: none;
}

#ui-datepicker-div a {
    color: #8B5B6E;
    text-decoration: none;
    cursor: pointer;
}

#ui-datepicker-div span,
.ui-datepicker-month {
    margin-right: 10px;
}

.terms {
    max-width: 800px;
}

.no-bookings,
.booking {
    font-size: 20px;
}

/* User Profile  */

.user-details-form-field {
    margin: 10px 0px;
}

/* blogs */

.blog-img {
    height: 300px;
    width: 100%;
    padding: 20px 10px;
    margin: 0 auto;
}

.blog-content {
    max-width: 800px;
    margin: 0 auto;
}

.blog-social {
    font-family: 'Abril Fatface', cursive;
}

.blog-social-link {
    font-size: 36px;
    display: flex;
    justify-content: space-around;
}

.blog-social-link a:hover {
    color: #6085A9;
}

@media screen and (min-width: 480px) {
    .blog-img {
        height: 300px;
        margin: 0;
        width: auto;
        padding: 30px;
    }
}