@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&display=swap');


/* Quick links - delete before submission */
/* 
font-family: 'Playfair Display', serif;

@media screen and (max-width: 600px) {
}
 */


html {
    height: 100%;
}

body {
    font-family: 'Playfair Display', serif;
    background: #ffe9e9;
}

.small-text {
    font-size: 16px;
}

/* font colors  */

.text-d-pink {
    color: #8d3e5d
}

.text-d-blue {
    color: #6085A9;
}

/* buttons  */

.btn-primary {
    color: #E0E0E6;
    background-color: #8d3e5d;
    border: 1px solid #8d3e5d;
}

.btn-primary:hover {
    color: #8d3e5d;
    border: 1px solid #8d3e5d;
    background-color: transparent;
}

.btn-secondary {
    border-color: #8d3e5d;
    color: #8d3e5d;
    background-color: transparent;
}

.btn-secondary:hover {
    color: #E0E0E6;
    background-color: #8d3e5d;
    border-color: #8d3e5d;
}

/* hr  */

hr {
    color: #6085A9;
    border: 0;
    margin-bottom: 32px;
}

/* links */

.unstyled-link {
    text-decoration: none;
    color: inherit;
}

/* header */

h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 48px;
}

h3  {
    font-family: 'Abril Fatface', cursive;
    font-size: 36px;
}

/* Nav bar  */

.nav-bar {
    background: url('/media/navbar_img.jpg') no-repeat left center;
    background-size: cover;
    height: 280px;
    width: 100%;
    padding: 15px;
}

.logo a {
    text-decoration: none;
    white-space: nowrap;
}

.logo h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    color: #8d3e5d;
}

.nav-item {
    padding: 12px;
    font-size: 24px;
}

.nav-item a,
.nav-item a button {
    text-decoration: none;
    color: #8d3e5d;
    font-weight: 600;
}

.nav-item .fa-sort-down {
    vertical-align: middle;
    margin-bottom: 10px;
}

.navbar-light {
    color: black;
}

.dropdown-menu {
    background-color: rgb(238, 213, 219);
    border: none;
}

nav {
    margin-top: auto;
    margin-left: auto;
}

.navbar-collapse {
    margin-top: 12px;
    margin-right: -16px;
    margin-left: -16px;
}

@media screen and (max-width: 992px) {
    .logo h1 {
        font-size: 32px;
    }

    nav {
        margin-right: auto;
        margin-top: 175px;
    }

    .navbar-collapse {
        background-color: rgb(238, 213, 219);
        padding-bottom: 5px;
        margin-top: 12px;
    }
}

/* cards */

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
}

.fa-star {
    color: #FFD700;
}

@media screen and (max-width: 991px) {
    .card-body {
        height: 200px;
    }
    .card-img-top {
        height: 160px;
    }
    .card-title {
        font-size: 16px;
    }
    .card-text {
        font-size: 14px;
    }
    .card-body .btn-primary {
        font-size: 14px;
        padding: 5px 7px;
    }
}

@media screen and (max-width: 480px) {
    .card-body {
        height: 140px; 
        padding: 8px;
    }
    .card-img-top {
        height: 100px;
    }
    .card-title {
        font-size: 12px;
    }
    .card-text {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .card-body .btn-primary {
        font-size: 10px;
    }
}

