{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bookings/css/bookings.css' %}">
{% endblock %}

{% block extra_title %}| My Bookings{% endblock %}

{% block page_header %}
<h2 class="text-d-blue mt-3">My Bookings</h2>
<hr>
{% endblock %}


{% block content %}

<div>

  {% if bookings %}
  <table class="booking-table">
    <thead>
      <tr class="text-d-pink">
        <th>Band Name</th>
        <th class="d-none d-lg-table-cell">Venue</th>
        <th>Date</th>
        <th class="d-none d-lg-table-cell">Start Time</th>
        <th>Confirmed</th>
        <th>Balance</th>
        {% if unconfirmed_bookings|length > 0 %}
        <th>Cancel</th>
        {% endif %}
        {% if confirmed_bookings|length > 0 %}
        <th>Review</th>
        {% endif %}
      </tr>
    </thead>

    <tbody>

      {% for booking in unconfirmed_bookings %}
      <tr>
        <td><strong>{{ booking.band }}</strong></td>
        <td class="d-none d-lg-table-cell">{{ booking.venue_name }}</td>
        <td>{{booking.wedding_date }}</td>
        <td class="d-none d-lg-table-cell">{{ booking.start_time }}</td>
        <td class="text-danger ">UNCONFIRMED</td>
        <td>£{{ booking.price }}</td>
        <td class="text-danger cursor-point" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="Delete booking?">
          <a data-bs-toggle="modal" data-bs-target="#modal-{{ booking.id }}"><i class="fas fa-times ms-3"></i></a>
        </td>
        <td></td>
      </tr>
      {% endfor %}

      {% for booking in confirmed_bookings %}
      <tr>
        <td><strong>{{ booking.band }}</strong></td>
        <td class="d-none d-lg-table-cell">{{ booking.venue_name }}</td>
        <td>{{booking.wedding_date }}</td>
        <td class="d-none d-lg-table-cell">{{ booking.start_time }}</td>
        <td class="text-success ">CONFIRMED</td>
        <td>PAID</td>
        <td></td>
        <td class="text-center">
          <a class="text-d-blue cursor-point" href="{% url 'add_review' booking.band_id %}"><i class="fas fa-edit"></i></a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

  {% if unconfirmed_bookings|length > 0 %}
  <div class="text-end my-4">
    <p>To confirm your bookings, please pay the outstanding balance.</p>
    <div class="my-2 text-danger"><strong>Total still to pay: £{{ request.session.balance }}</strong></div>
    <a href="{% url 'payments' %}" class="btn btn-primary" id="checkout-button">Checkout <i
        class="fas fa-chevron-right ps-1"></i></a>
  </div>
  {% endif %}

  <div class="text-d-blue text-center mt-5">
    <p class="fw-bold"><a class="unstyled-link" href="mailto:info@bookaband.com">
        To make changes to any bookings, please send us an email! <i class="fas fa-envelope-open-text"></i></a>
    </p>
  </div>

  {% else %}
  <!-- If no bookings -->
  <div class="row no-bookings">
    <p class="text-center my-5">You currently have no bookings</p>
    <div class="text-center">
      <a class="btn btn-primary" href="{% url 'all_bands' %}?sort=name&direction=asc">Find a Band!</a>
    </div>
  </div>
  {% endif %}


</div>

{% for booking in unconfirmed_bookings %}
<div class="modal fade" id="modal-{{ booking.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ booking.id }}"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Header  -->
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel-{{ booking.id }}">Delete {{ booking.band_name }}?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Body  -->
      <div class="modal-body">
        Are you sure you wish to delete this booking?
      </div>
      <!-- Footer  -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{% url 'delete_booking' booking.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}