{% extends "base.html" %}
{% load static %}

{% block page_header %}
<h2 class="text-d-blue mt-3">My Bookings</h2>
<hr>
{% endblock %}


{% block content %}

{% if bookings %}
    {% for booking in unconfirmed_bookings %}

    <div class="booking py-1">
        <span class="px-3"><strong>{{booking.band_name }}</strong></span>
        <span class="px-3">{{ booking.venue_name }}</span>
        <span class="px-3">{{booking.wedding_date }}</span>
        <span class="px-3">{{ booking.start_time }}</span>
        <span class="text-danger px-3">UNCONFIRMED</span>
        <span class="px-3">Balance: £{{ booking.price }}</span>
    </div>

    {% endfor %}
    {% if unconfirmed_bookings|length > 0 %}
    <div class="text-end my-4">
        <div class="my-2 text-danger"><strong>Total still to pay: £{{ request.session.balance }}</strong></div>
        <a href="{% url 'payments' %}" class="btn btn-primary" id="checkout-button">Checkout <i class="fas fa-chevron-right ps-1"></i></a>
    </div>

    <hr>
    {% endif %}
    {% for booking in confirmed_bookings %}

    <div class="booking py-1">
        <span class="px-3"><strong>{{booking.band_name }}</strong></span>
        <span class="px-3">{{ booking.venue_name }}</span>
        <span class="px-3">{{booking.wedding_date }}</span>
        <span class="px-3">{{ booking.start_time }}</span>
        <span class="text-success px-3">CONFIRMED</span>
    </div>

    {% endfor %}


{% else %}
<div class="row no-bookings">
    <p class="text-center my-5">You currently have no bookings</p>
</div>
{% endif %}


{% endblock %}