.profile-main-img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.profile-sm-img {
    height: 90px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}

.band-price {
    font-size: 20px;
}

.band-biog {
    max-width: 500px;
}

/* Reviews */

.reviews {
    max-height: 1005px;
    overflow-y: auto;
}

.review-author {
    display: flex;
    justify-content: space-between;
}

.review-author p {
    font-size: 20px;
    font-weight: 600;
}

.review-date {
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .profile-sm-img {
        height: 140px;
    }
}

@media screen and (min-width: 992px) {
    .profile-sm-img {
        height: 100px;
    }
}

@media screen and (min-width: 1400px) {
    .profile-sm-img {
        height: 140px;
    }
}



