.quick-links-dropdown .btn {
    background-color: #fff;
    border: solid 0.5px gray;
}

.sidebar {
    background-color: #fff;
    color: #93A5B4;
}

.sidebar-links li a {
    color: #93A5B4;
    font-size: 18px;
}

.sidebar-links li a:hover {
    color: #6085A9;
}

.sort-by a {
    background-color: #EED5DB;
}

.sort-by a,
.sort-by a:hover {
    color: #6085A9;
    font-weight: 600;
}

.by-location {
    overflow-y: scroll;
    height: 200px;
}

