.sidebar {
    background-color: #fff;
    color: #93A5B4;
}

.sidebar-links li a {
    color: #93A5B4;
    /* text-decoration: none; */
    font-size: 18px;
}

.sort-by a {
    background-color: #EED5DB;
}

.sort-by a,
.sort-by a:hover {
    color: #6085A9;
    font-weight: 600;
}

