{% extends "base.html" %}
{% load static %}

{% block extra_title %}Add a blog{% endblock %}

{% block page_header %}
<h2 class="text-d-blue pt-3">Add a Blog</h2>
<hr>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-6 py-3 px-5">
        <form method="POST" action="{% url 'add_blog' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-primary mt-3" type="submit">Upload</button>
        </form>
    </div>
</div>
{% endblock %}