{% extends "base.html" %}
{% load static %}
{% load social_share %}


{% block page_header %}
<h2 class="text-d-blue pt-3 ">Blogs</h2>
<hr>
{% endblock %}


{% block content %}
<a href="{% url 'all_blogs' %}" class="unstyled-link back-link">
    <i class="fas fa-arrow-left pe-1"></i>View All Blogs
</a>

<div class="blog-content">
    <h4 class="subheading text-uppercase mt-3">
        {{ blog.title }}
    </h4>
    <p>
        by <strong>{{ blog.author }}</strong>
    </p>

    {% if blog.image %}
    <img src="{{ blog.image.url }}" class="blog-img float-end" alt="{{ band.title }}">
    {% else %}
    <img src="https://traveltradeluxury.com/media/k2/items/cache/7a4010c728df5112a2a660b7127561f8_L.jpg"
        class="blog-img float-end" alt="Wedding rings">
    {% endif %}

    <p>{{ blog.content | linebreaks }}</p>
    <br>
    <p>Source: <a href="{{ blog.source }}" class="unstyled-link"><em>{{ blog.source }}</em></a></p>

    <hr>
    <div class="row">
        <p class="blog-social text-d-blue">Like what you've read? Let others enjoy it too and share the blog on social
            media</p>
        <div class="col-12 blog-social-link text-d-pink">
            {% post_to_facebook object_or_url " " "fab fa-facebook-f unstyled-link d-inline" %}
            {% post_to_twitter "Check out this blog..." object_or_url " " " fab fa-twitter unstyled-link d-inline" %}
            {% post_to_reddit "Check out this blog..." object_or_url " " "fab fa-reddit unstyled-link d-inline" %}
            {% post_to_whatsapp object_or_url " " "fab fa-whatsapp unstyled-link d-inline" %}
        </div>
    </div>
</div>

{% endblock %}