.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.outstanding-balance {
  font-size: 20px;
}

/* https://blog.cykerway.com/posts/2018/07/20/css-trick-centering-an-overflowed-table.html */
.booking-table {
  display: inline-block;
  max-width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow-x: auto;
  white-space: nowrap;
}

.booking-table th,
.booking-table td  {
  padding: 8px 12px
}

.delete-booking {
  cursor: pointer;
}

